In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [147]:
#Reading csv and loading as data frame
loan_df = pd.read_csv('loan.csv')

### Data Inspection

In [148]:
#looking if there are any headers available
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [149]:
#looking if there are any footers available
loan_df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
#Printing number of rows and columns
loan_df.shape

(39717, 111)

In [151]:
loan_df['loan_status'].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64

In [152]:
#Current running loans will not provide any insight to default
loan_df = loan_df[~(loan_df['loan_status'] == 'Current')]

In [153]:
#columns which are not relevant to loan decision
columns_having_post_loan_data=['acc_now_delinq', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'earliest_cr_line', 'delinq_amnt',
                              'last_pymnt_amnt', 'last_pymnt_d', 'mths_since_last_delinq', 'next_pymnt_d', 'out_prncp', 'out_prncp_inv', 'recoveries', 'total_bal_il',
                              'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp']

In [154]:
loan_df = loan_df.drop(columns_having_post_loan_data, axis=1)

In [155]:
#checking percentage of missing values in data frame
100 * loan_df.isna().sum() / len(loan_df)

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.101097
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 92, dtype: float64

In [156]:
#Many columns had all values as NA; dropping those columns
loan_df = loan_df.dropna(how='all', axis=1)

In [157]:
loan_df.shape

(38577, 39)

In [158]:
feature_wise_unique_values = loan_df.nunique()
feature_wise_unique_values.sort_values()

tax_liens                     1
pymnt_plan                    1
policy_code                   1
initial_list_status           1
application_type              1
loan_status                   2
term                          2
verification_status           3
pub_rec_bankruptcies          3
home_ownership                5
pub_rec                       5
grade                         7
inq_last_6mths                9
emp_length                   11
delinq_2yrs                  11
purpose                      14
sub_grade                    35
open_acc                     40
addr_state                   50
issue_d                      55
total_acc                    82
last_credit_pull_d          106
mths_since_last_record      111
int_rate                    370
zip_code                    822
loan_amnt                   870
funded_amnt                1019
revol_util                 1088
dti                        2853
annual_inc                 5215
funded_amnt_inv            8050
installment               15022
title                     19297
revol_bal                 21275
desc                      25802
emp_title                 28027
member_id                 38577
url                       38577
id                        38577
dtype: int64

In [159]:
#removing columns having only 1 unique value
columns_to_drop = feature_wise_unique_values[nunique == 1].index
loan_df = loan_df.drop(columns_to_drop, axis=1)

In [160]:
columns_having_all_distinct_values = feature_wise_unique_values[nunique == len(loan_df)].index
loan_df = loan_df.drop(columns_having_all_distinct_values, axis=1)

In [161]:
#removing mths_since_last_record column as it is missing more than 90% values
loan_df = loan_df.drop('mths_since_last_record', axis=1)

In [162]:
#dropping 'desc' columns as it is having multiple paragraphs and will not be meaningful for EDA
loan_df = loan_df.drop('desc', axis=1)

In [163]:
100 * loan_df.isna().sum() / len(loan_df)

loan_amnt               0.000000
funded_amnt             0.000000
funded_amnt_inv         0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               6.185033
emp_length              2.677761
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.028514
zip_code                0.000000
addr_state              0.000000
dti                     0.000000
delinq_2yrs             0.000000
inq_last_6mths          0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.129611
total_acc               0.000000
last_credit_pull_d      0.005184
pub_rec_bankruptcies    1.806776
dtype: float64

In [164]:
loan_df['pub_rec_bankruptcies'].value_counts()

pub_rec_bankruptcies
0.0    36238
1.0     1637
2.0        5
Name: count, dtype: int64

In [165]:
loan_df.shape

(38577, 29)

In [166]:
loan_df = loan_df[~(loan_df['pub_rec_bankruptcies'].isna())]

In [167]:
loan_df.shape

(37880, 29)

In [168]:
100 * loan_df.isna().sum() / len(loan_df)

loan_amnt               0.000000
funded_amnt             0.000000
funded_amnt_inv         0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               6.185322
emp_length              2.727033
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.029039
zip_code                0.000000
addr_state              0.000000
dti                     0.000000
delinq_2yrs             0.000000
inq_last_6mths          0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.131996
total_acc               0.000000
last_credit_pull_d      0.002640
pub_rec_bankruptcies    0.000000
dtype: float64

In [169]:
loan_df[loan_df['emp_title'] == 'Other']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies
23591,3000,3000,2900.0,36 months,5.79%,90.99,A,A2,Other,1 year,...,17.41,0,0,8,0,2171,15.40%,10,Aug-12,0.0

In [170]:
loan_df['emp_title'].fillna('Other', inplace=True)

In [171]:
100 * loan_df.isna().sum() / len(loan_df)

loan_amnt               0.000000
funded_amnt             0.000000
funded_amnt_inv         0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               0.000000
emp_length              2.727033
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.029039
zip_code                0.000000
addr_state              0.000000
dti                     0.000000
delinq_2yrs             0.000000
inq_last_6mths          0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.131996
total_acc               0.000000
last_credit_pull_d      0.002640
pub_rec_bankruptcies    0.000000
dtype: float64

In [174]:
loan_df['emp_length'].value_counts()

emp_length
10+ years    8369
< 1 year     4341
2 years      4207
3 years      3951
4 years      3297
5 years      3161
1 year       3077
6 years      2136
7 years      1689
8 years      1410
9 years      1209
Name: count, dtype: int64

In [175]:
loan_df['title'].value_counts()

title
Debt Consolidation                          2068
Debt Consolidation Loan                     1616
Personal Loan                                618
Consolidation                                480
debt consolidation                           472
                                            ...
Getting Married and Want No Credit Debt!       1
Shannon's personal loan                        1
credit card finally gone!!!                    1
Taxes 2011                                     1
Merging 2 Accounts into one to save $$         1
Name: count, Length: 18881, dtype: int64

In [176]:
loan_df['revol_util'].value_counts()

revol_util
0%        919
0.20%      60
63%        57
31.20%     57
70.40%     56
         ...
77.63%      1
25.74%      1
0.83%       1
47.36%      1
7.28%       1
Name: count, Length: 1088, dtype: int64

In [177]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37880 entries, 0 to 39680
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             37880 non-null  int64
 1   funded_amnt           37880 non-null  int64
 2   funded_amnt_inv       37880 non-null  float64
 3   term                  37880 non-null  object
 4   int_rate              37880 non-null  object
 5   installment           37880 non-null  float64
 6   grade                 37880 non-null  object
 7   sub_grade             37880 non-null  object
 8   emp_title             37880 non-null  object
 9   emp_length            36847 non-null  object
 10  home_ownership        37880 non-null  object
 11  annual_inc            37880 non-null  float64
 12  verification_status   37880 non-null  object
 13  issue_d               37880 non-null  object
 14  loan_status           37880 non-null  object
 15  purpose               37880 non-null  object
 16  title                 37869 non-null  object
 17  zip_code              37880 non-null  object
 18  addr_state            37880 non-null  object
 19  dti                   37880 non-null  float64
 20  delinq_2yrs           37880 non-null  int64
 21  inq_last_6mths        37880 non-null  int64
 22  open_acc              37880 non-null  int64
 23  pub_rec               37880 non-null  int64
 24  revol_bal             37880 non-null  int64
 25  revol_util            37830 non-null  object
 26  total_acc             37880 non-null  int64
 27  last_credit_pull_d    37879 non-null  object
 28  pub_rec_bankruptcies  37880 non-null  float64
dtypes: float64(5), int64(8), object(16)
memory usage: 8.7+ MB

In [178]:
loan_df = loan_df[~(loan_df['revol_util'].isna())]

In [179]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37830 entries, 0 to 39680
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             37830 non-null  int64
 1   funded_amnt           37830 non-null  int64
 2   funded_amnt_inv       37830 non-null  float64
 3   term                  37830 non-null  object
 4   int_rate              37830 non-null  object
 5   installment           37830 non-null  float64
 6   grade                 37830 non-null  object
 7   sub_grade             37830 non-null  object
 8   emp_title             37830 non-null  object
 9   emp_length            36800 non-null  object
 10  home_ownership        37830 non-null  object
 11  annual_inc            37830 non-null  float64
 12  verification_status   37830 non-null  object
 13  issue_d               37830 non-null  object
 14  loan_status           37830 non-null  object
 15  purpose               37830 non-null  object
 16  title                 37819 non-null  object
 17  zip_code              37830 non-null  object
 18  addr_state            37830 non-null  object
 19  dti                   37830 non-null  float64
 20  delinq_2yrs           37830 non-null  int64
 21  inq_last_6mths        37830 non-null  int64
 22  open_acc              37830 non-null  int64
 23  pub_rec               37830 non-null  int64
 24  revol_bal             37830 non-null  int64
 25  revol_util            37830 non-null  object
 26  total_acc             37830 non-null  int64
 27  last_credit_pull_d    37829 non-null  object
 28  pub_rec_bankruptcies  37830 non-null  float64
dtypes: float64(5), int64(8), object(16)
memory usage: 8.7+ MB

In [180]:
loan_df = loan_df[~(loan_df['last_credit_pull_d'].isna())]

In [181]:
loan_df = loan_df[~(loan_df['title'].isna())]

In [182]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37818 entries, 0 to 39680
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             37818 non-null  int64
 1   funded_amnt           37818 non-null  int64
 2   funded_amnt_inv       37818 non-null  float64
 3   term                  37818 non-null  object
 4   int_rate              37818 non-null  object
 5   installment           37818 non-null  float64
 6   grade                 37818 non-null  object
 7   sub_grade             37818 non-null  object
 8   emp_title             37818 non-null  object
 9   emp_length            36789 non-null  object
 10  home_ownership        37818 non-null  object
 11  annual_inc            37818 non-null  float64
 12  verification_status   37818 non-null  object
 13  issue_d               37818 non-null  object
 14  loan_status           37818 non-null  object
 15  purpose               37818 non-null  object
 16  title                 37818 non-null  object
 17  zip_code              37818 non-null  object
 18  addr_state            37818 non-null  object
 19  dti                   37818 non-null  float64
 20  delinq_2yrs           37818 non-null  int64
 21  inq_last_6mths        37818 non-null  int64
 22  open_acc              37818 non-null  int64
 23  pub_rec               37818 non-null  int64
 24  revol_bal             37818 non-null  int64
 25  revol_util            37818 non-null  object
 26  total_acc             37818 non-null  int64
 27  last_credit_pull_d    37818 non-null  object
 28  pub_rec_bankruptcies  37818 non-null  float64
dtypes: float64(5), int64(8), object(16)
memory usage: 8.7+ MB

In [183]:
100 * loan_df.isna().sum() / len(loan_df)

loan_amnt               0.000000
funded_amnt             0.000000
funded_amnt_inv         0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               0.000000
emp_length              2.720927
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.000000
zip_code                0.000000
addr_state              0.000000
dti                     0.000000
delinq_2yrs             0.000000
inq_last_6mths          0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.000000
total_acc               0.000000
last_credit_pull_d      0.000000
pub_rec_bankruptcies    0.000000
dtype: float64

In [184]:
loan_df.shape

(37818, 29)

In [185]:
loan_df['emp_length'].value_counts()

emp_length
10+ years    8367
< 1 year     4328
2 years      4202
3 years      3947
4 years      3288
5 years      3154
1 year       3070
6 years      2132
7 years      1685
8 years      1408
9 years      1208
Name: count, dtype: int64

In [186]:
loan_df['emp_length'].mode()

0    10+ years
Name: emp_length, dtype: object

In [188]:
loan_df['emp_length'].fillna('10+ years', inplace=True)

In [189]:
100 * loan_df.isna().sum() / len(loan_df)

loan_amnt               0.0
funded_amnt             0.0
funded_amnt_inv         0.0
term                    0.0
int_rate                0.0
installment             0.0
grade                   0.0
sub_grade               0.0
emp_title               0.0
emp_length              0.0
home_ownership          0.0
annual_inc              0.0
verification_status     0.0
issue_d                 0.0
loan_status             0.0
purpose                 0.0
title                   0.0
zip_code                0.0
addr_state              0.0
dti                     0.0
delinq_2yrs             0.0
inq_last_6mths          0.0
open_acc                0.0
pub_rec                 0.0
revol_bal               0.0
revol_util              0.0
total_acc               0.0
last_credit_pull_d      0.0
pub_rec_bankruptcies    0.0
dtype: float64

In [190]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37818 entries, 0 to 39680
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             37818 non-null  int64
 1   funded_amnt           37818 non-null  int64
 2   funded_amnt_inv       37818 non-null  float64
 3   term                  37818 non-null  object
 4   int_rate              37818 non-null  object
 5   installment           37818 non-null  float64
 6   grade                 37818 non-null  object
 7   sub_grade             37818 non-null  object
 8   emp_title             37818 non-null  object
 9   emp_length            37818 non-null  object
 10  home_ownership        37818 non-null  object
 11  annual_inc            37818 non-null  float64
 12  verification_status   37818 non-null  object
 13  issue_d               37818 non-null  object
 14  loan_status           37818 non-null  object
 15  purpose               37818 non-null  object
 16  title                 37818 non-null  object
 17  zip_code              37818 non-null  object
 18  addr_state            37818 non-null  object
 19  dti                   37818 non-null  float64
 20  delinq_2yrs           37818 non-null  int64
 21  inq_last_6mths        37818 non-null  int64
 22  open_acc              37818 non-null  int64
 23  pub_rec               37818 non-null  int64
 24  revol_bal             37818 non-null  int64
 25  revol_util            37818 non-null  object
 26  total_acc             37818 non-null  int64
 27  last_credit_pull_d    37818 non-null  object
 28  pub_rec_bankruptcies  37818 non-null  float64
dtypes: float64(5), int64(8), object(16)
memory usage: 8.7+ MB

In [191]:
loan_df.describe(include='object')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,revol_util,last_credit_pull_d
count,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818,37818
unique,2,336,7,35,27506,11,4,3,52,2,14,18848,809,49,1088,97
top,36 months,10.99%,B,A4,Other,10+ years,RENT,Not Verified,Nov-11,Fully Paid,debt_consolidation,Debt Consolidation,100xx,CA,0%,May-16
freq,28344,913,11460,2843,2337,9396,18063,15963,2060,32328,17749,2066,557,6857,919,9214

### Column type checks and type conversion

In [195]:
loan_df.dtypes

loan_amnt                 int64
funded_amnt               int64
funded_amnt_inv         float64
term                     object
int_rate                 object
installment             float64
grade                    object
sub_grade                object
emp_title                object
emp_length               object
home_ownership           object
annual_inc              float64
verification_status      object
issue_d                  object
loan_status              object
purpose                  object
title                    object
zip_code                 object
addr_state               object
dti                     float64
delinq_2yrs               int64
inq_last_6mths            int64
open_acc                  int64
pub_rec                   int64
revol_bal                 int64
revol_util               object
total_acc                 int64
last_credit_pull_d       object
pub_rec_bankruptcies    float64
dtype: object